<nav *ngIf="checkToken()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <!-- <div class="container"> -->
    <a class="navbar-brand">NaAFERE</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/games">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/talk">Talk</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crew">Crew</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/teams">Teams</a>
      </li>
    </ul>

    <div class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>
  <!-- </div> -->
</nav>


 
