<form #registerForm="ngForm" class="form-signin" (ngSubmit)="register()">
  <img class="mb-3" src="../assets/logoForNow.PNG" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Sing up!</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" 
      autofocus="" [(ngModel)]="model.email" name="email">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" 
      [(ngModel)]="model.password" name="password">
  <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">Sign up</button>
  <button class="btn btn-secondary" routerLink="" type="button" (click)="cancel()">Cancel</button>
</form>

<!-- <div *ngIf="loggedIn()">
  <router-outlet></router-outlet>
</div> -->
<!-- class="nav-item nav-link-edit" -->