
<nav class="navbar navbar-expand md navbar-dark bg-dark">
  <!-- <div class="container"> -->
    <a class="navbar-brand" routerLink="/home">
      <img src="../assets/logo3.png" alt="naafere" width="40" height="40">Naafere
    </a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()" >
      <li>
          <a routerLink="/games" [class.activated]="currentUrl == '/games'">
            <i class="material-icons">emoji_events</i>
          </a>
      </li>
      <li>
          <a routerLink="/message" [class.activated]="currentUrl == '/message'">
            <i class="material-icons">message</i>
          </a>
      </li>
      <li>
          <a routerLink="/teams" [class.activated]="currentUrl == '/teams'">
            <i class="material-icons">supervised_user_circle</i>
          </a>
      </li>
      <li>
          <a routerLink="/users" [class.activated]="currentUrl == '/users'">
            <i class="material-icons">accessibility_new</i>
          </a>
      </li>
      <li>
          <a routerLink="/locations" [class.activated]="currentUrl == '/locations'">
            <i class="material-icons">gps_fixed</i>
          </a>
      </li>
      <li>
        <a routerLink="/mystats" [class.activated]="currentUrl == '/mystats'">
          <i class="material-icons">timeline</i>
        </a>
    </li>
    </ul>

    <div class="dropdown" *ngIf="loggedIn()" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <ul *ngIf="!loggedIn()" class="navbar-nav ml-auto">
      <a class="btn btn-outline-secondary" routerLink="/login">Login</a>
      <a class="btn btn-outline-secondary" routerLink="/register">Register</a>
    </ul>
  <!-- </div> -->
</nav>


 
