
<nav class="navbar navbar-expand md navbar-dark bg-dark">
  <!-- <div class="container"> -->
    <a class="navbar-brand" routerLink="/home">NaAFERE</a>
    <ul class="navbar-nav mr-auto" *ngIf="loggedIn()" >
      <li>
          <a routerLink="/games" [class.activated]="currentUrl == '/games'">
            <i class="material-icons">emoji_events</i>
          </a>
      </li>
      <li>
          <a routerLink="/message" [class.activated]="currentUrl == '/message'">
            <i class="material-icons">message</i>
          </a>
      </li>
      <li>
          <a routerLink="/teams" [class.activated]="currentUrl == '/teams'">
            <i class="material-icons">supervised_user_circle</i>
          </a>
      </li>
      <li>
          <a routerLink="/location" [class.activated]="currentUrl == '/location'">
            <i class="material-icons">gps_fixed</i>
          </a>
      </li>
      <li>
        <a routerLink="/mystats" [class.activated]="currentUrl == '/mystats'">
          <i class="material-icons">timeline</i>
          <!-- <i class="material-icons">equalizer</i> -->
          <!-- <i class="material-icons">signal_cellular_alt</i> -->
        </a>
    </li>
    <!-- <li>
      <a routerLink="/home" [class.activated]="currentUrl == '/home'">
        <i class="material-icons">home</i>
      </a>
  </li> -->
    </ul>

    <div class="dropdown" *ngIf="loggedIn()" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        {{authService.decodedToken?.unique_name | titlecase}}
      </a>
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a>
      </div>
    </div>

    <ul *ngIf="!loggedIn()" class="navbar-nav ml-auto">
      <a class="btn btn-outline-secondary" routerLink="/login">Login</a>
      <a class="btn btn-outline-secondary" routerLink="/register">Register</a>
    </ul>
  <!-- </div> -->
</nav>


 
