<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{location.photoUrl}}" alt="{{location.name}}">
        <div class="card-body">
          <div>
            <strong><b>Contact:</b></strong>
            <a href="mailto: {{location.email}}"><p>{{location.email}}</p></a>
            <a href="tel:{{location.phoneNumber}}"><p>{{location.phoneNumber}}</p></a> 
            <a href="{{location.website}}" target="_blank" rel="noopener noreferrer"><p>{{location.website}}</p></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <div>
              <table class="table location-detail">
                  <thead>
                    <tr>
                      <th class="text-center">Adress</th>
                      <th class="text-center"><span>Navigate</span></th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td class="text-center">
                              <p>{{location.address}}</p>
                              <p>{{location.zipCode}} {{location.city}}</p>
                              <p>{{location.country}}</p>
                          </td>
                          <td class="text-center">
                            <a href="https://jakdojade.pl/krakow/trasa/?fn=WskazSwojPunktStartowy&tn={{location.name}}&tc={{location.latitude}}:{{location.longitude}}&fc=50.061047:19.936796&tt=LOCATION_TYPE_COORDINATE" 
                                 target="_blank" rel="noopener noreferrer">
                              <img class="dojade" src="../assets/jakdojade.jpg" alt="JakDojade" width="120" height="80">
                            </a>
                          </td>
                        </tr>
                  </tbody>
                </table>
          </div>
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>
