.map {
    width: 100%;
    height: 60vh;
  }

.card-body {
  padding: 12px 12px;
}

p { margin-bottom: 3px; }

.table {
  border-collapse: separate;
  padding: 1px;
}

.table thead > tr > th {
	padding: 8px;
}

.table tbody > tr > td {
  border-top: 10px solid #fff;
	vertical-align: middle;
	padding: 0px;
}

.dojade {
  border-radius: 25px;
}

