<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="text-center mt-3">
  <h2>Players - {{pagination.totalItems}} found</h2>
</div>

<div class="container">
    <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
        <div class="form-group">
          <label for="minAge">Age From</label>
          <input type="number" class="form-control ml-1" style="width: 70px"
          [(ngModel)]="userParams.minAge" id="minAge" name="minAge">
        </div>
      
        <div class="form-group px-2">
          <label for="maxAge">Age To</label>
          <input type="number" class="form-control ml-1" style="width: 70px" 
          [(ngModel)]="userParams.maxAge" id="maxAge" name="maxAge">
        </div>
      
        <div class="form-group px-2">
          <label for="city">City: </label>
          <select class="form-control ml-1" style="width: 130px" 
          [(ngModel)]="userParams.city" id="city" name="city">
            <option *ngFor="let city of cityList" [value]="city.value">
              {{city.display}}
            </option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply</button>
        <button type="button" class="btn btn-secondary" (click)="resetFilters()" style="margin-left:10px">Reset</button>
      
      </form>
      <br>

<div class="row">
	<div class="col-lg-12">
		<div class="main-box clearfix">
			<div class="table-responsive">
				<table class="table user-list">
					<thead>
						<tr>
							<th><span>User</span></th>
							<th class="text-center"><span>Gender</span></th>
							<th class="text-center"><span>Status</span></th>
							<th class="text-center"><span>Email</span></th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody *ngFor="let user of users">
              <tr>
                  <td>
                    <img src="{{user.photoUrl}}" alt="{{user.firstName}}">
                    <a [routerLink]="['/users/', user.id]" class="user-link">{{user.firstName}} {{user.lastName}}</a>
                    <span class="user-subhead">Member</span>
                  </td>
                  <td class="text-center">
                    {{user.gender}}
                  </td>
                  <td class="text-center">
                    <span class="label label-default">Active</span>
                  </td>
                  <td class="text-center">
                    <a href="mailto: {{user.email}}">{{user.email}}</a>
                  </td>
                  <td class="text-center" style="width: 20%;">
                    <a href="#" class="table-link">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                    <a href="#" class="table-link danger">
                      <span class="fa-stack">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                      </span>
                    </a>
                  </td>
                </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>

<div class="d-flex justify-content-center">
  <pagination [boundaryLinks]="true" 
              [totalItems]="pagination.totalItems"
              [itemsPerPage]="pagination.itemsPerPage" 
              [(ngModel)]="pagination.currentPage"
              (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>
</div>
